<!DOCTYPE html>
<html>
<head>
  <title>{{ site.name }}</title>
  <link rel="stylesheet" href="https://usetrmnl.com/assets/plugins-3f3ebe03dde623eccb88bb92df59532558f44737db4a00910cccf716f7c76610.css">
  <script src="https://usetrmnl.com/js/latest/plugins.js"></script>
</head>
<body class="environment trmnl">
<div class="screen">
 <div class="screen">
  <div class="view view--half_vertical">
      <div class="layout layout--col layout--left layout--stretch-x">
      {% assign prs = value | slice: 0, 5 %}
      {% for pr in prs %}
      <div class="flex flex--col flex--left gap--small" data-overflow="true">
        <div class="flex flex--center-y" data-overflow="true">
          <span class="label label--small">{% if pr.status == "completed"%}Completed{% else %}Open{% endif %}</span>
          <div class="progress-dots progress-dots--small">
            <div class="track">
              {% assign ordered_reviewers = pr.reviewers | sort: "vote" | reverse %}
              {% for reviewer in ordered_reviewers %}
                <div class="dot {% if reviewer.vote == 10 %} dot--filled {% endif %} {% if reviewer.isFlagged %} dot--current {% endif %}"></div>
              {% endfor %}
            </div>
        </div>
      </div>
      <span class="label" data-clamp="1">{{pr.title}}</span>
      <span class="label label--small"><span class="label label--small label--inverted mr--1">Created by:</span> {{pr.createdBy.displayName}}</span>
      <div class="divider divider-on--white"></div>
      </div>
      {% else %}
      <span class="label">No Pull Requests found!</span>  
      {% endfor %}
    </div>

  <div class="title_bar">
    <img class="image" src="/images/plugins/trmnl--render.svg">
    <span class="title">Pull Requests for {{ trmnl.plugin_settings.custom_fields_values.project_id }}</span>
  </div>

</div>
</div>
</body>  
</html>